/* WEB FONT */
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* BASIC */
body {
  font: normal 18px/22px "Varela Round", sans-serif;
  background-color: #002b36;
  color: #839496;
}

h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 36px;
  line-height: 46px;
  color: #93a1a1;
}

h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
}

p {
  margin: 20px 0;
}

code {
  background-color: #073642;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* LAYOUT */
.fixed-nav-bar {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.content {
  position: relative;
  background-size: 200% 600%;
  background-position: 50% 50%
}

.content h1 {
  color: #fdf6e3;
}

.description, .articles {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.description {
  padding-top: 90px;
  min-height: 170px;
  text-align: center;
}

.articles h1 {
  margin-top: 60px;
  text-transform: uppercase;
}

.articles a:link, .articles a:visited  {
  color: #1aa198;
}

.articles a:hover {
  color: #268bd2;
  transition: color 0.3s ease;
}

.summary {
  color: #eee8d5;
  margin-top: 40px;
  margin-bottom: 60px;
}
